@import "../../../appcssvars.scss";

#nav-main {
  flex-grow: 1 1 0;
  display: flex;
  align-items: stretch;
  background: white;
  font-family: $form_body_font-family;

  #nav-logo {
    // background:yellow;
    padding: 2px 5px;
  }
  #nav-title {
    // background:cyan;
    padding-top: 12px;
    white-space: nowrap;
    p {
      color: $fore_color_dark;
      text-shadow: gray 1px 1px 1px;
      span#app-ver{
        color:gray;
        font-size:0.7em;
        margin-left:5px;
      }
    }
  }
  $sub-menu-height: 24px;
  #nav-spacer {
    // background:magenta;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    #nav-spacer-top {
      flex: 1 1 0;
      // background:yellow;
    }
    #nav-spacer-bottom {
      // background:cyan;
      min-height: $sub-menu-height;
      max-height: $sub-menu-height;
      display: flex;
      #nav-spacer-triangle {
        flex: 1 1 0;
        height: 0px;
        margin-left: 12px;
        border: 0px;
        border-left: 50px solid transparent;
        border-bottom: $sub-menu-height solid $back_color_dark;
      }
    }
  }
  #nav-menu {
    display: flex;
    flex-direction: column;

    #nav-menu-top span,
    #nav-menu-bottom span {
      white-space: nowrap;
      color: $fore_color_dark;
      font-size: 0.85em;
      margin-left: 12px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }

    #nav-menu-top span.active,
    #nav-menu-bottom span.active {
      border-bottom: 2px solid $menu_undeline;
      //color: $fore_color_dark;;
    }


    #nav-menu-top span {
      font-size: 0.9em;
    }

    #nav-menu-top span#notifiaction {
      color: #c0c0c0;
      i.active {
        color: $bs_danger;
      }
    }

    #nav-menu-top span:hover {
      color: $bs_success;
    }

    #nav-menu-top {
      justify-content: flex-end;
      align-items: flex-end;
      flex: 1 1 0;
      display: flex;
      padding-right: 5px;
      padding-bottom: 2px;
    }
    #nav-menu-bottom {
      min-height: $sub-menu-height;
      max-height: $sub-menu-height;
      display: flex;
      justify-content: flex-end;
      background: $back_color_dark;
      padding-right: 5px;
    }
  }
}


#sep1 {
  background: $back_color_dark;
  height: 2px;
}
#detail-container {
  height: calc(100vh - #{$header_height});
  border-radius: 0px;
  border: none;
  border-top: 3px solid $line_color_dark;
  .card-body {
    div {
      //height: 100px;
    }
    #pnl-top {
      background-color: lime;
      height: $detail_top_height;
    }

    #pnl-middle {
      display: flex;
      justify-content: space-between;
      //background-color: greenyellow;

      height: calc(100vh - #{$fixed_height_total});

      .vsp,
      .vspc {
        // vertical separator
        background-color: $separator_color;
        box-sizing: border-box;

        border-left: $separator_border;
        border-right: $separator_border;
        //border-right:$separator_border;
        width: $separator_size;
        cursor: ew-resize;
      }
      .vspc {
        width: $separator_collapse_size;
        cursor: default;
      }
      .hsp {
        // horizontal separator
        background-color: $separator_color;
        box-sizing: border-box;
        height: $separator_size;
      }

      #pnl-left {
        // Tree section
        width: 320px;
        z-index: 2;
      }
      #pnl-center {
        flex-grow: 1;
        //background-color: beige;
      }
      #pnl-right {
        //background-color: cyan;
        width: 250px;
      }
    }

    #pnl-bottom {
      background-color: green;
      height: $detail_bottom_height;
    }
  }
  .card-footer {
    //border-top:1px solid $line_color_dark;

    font-size: 0.9em;
    height: $footer_height;
    padding: 0px 5px;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    font-family: $form_footer_font-family;
    > span:nth-child(1),
    > span:nth-child(2) {
      margin-top: 3px;
      margin-left: 2px;
    }
    span#node-path {
      overflow: hidden;
    }
    .sp {
      // spacers
      margin: auto auto;
    }
    #view-cols {
      //background-color: red;
      //width: 33px;
      margin-top: 3px;
      margin-right: 5px;
      font-size: 0.1em;
      height: 18px;
      cursor: pointer;

      > div {
        height: 17px;
        border-right: 1px solid $line_color_view;
        border-bottom: 1px solid $line_color_view;
        border-top: 1px solid $line_color_view;
      }
      > div:nth-child(1) {
        //background-color: blue;
        width: 7px;
        border-left: 1px solid $line_color_view;
        > div:nth-child(1) {
          border-bottom: 1px solid $line_color_view;
          height: 14px;
        }
        > div:nth-child(2) {
          height: 3px;
          //background-color: yellow;
        }
      }
      > div:nth-child(2) {
        width: 8px;
      }
      > div:nth-child(3) {
        width: 12px;
      }
    }
    #view-cols:hover {
      //background-color: #c0c0c0;
      background-color: red;
    }
    #view-rows:hover {
      background-color: red;
    }
    #view-rows {
      //background-color: red;
      //width: 33px;
      margin-top: 3px;
      margin-right: 5px;
      font-size: 0.1em;
      height: 18px;
      cursor: pointer;

      > div {
        height: 17px;
        border-right: 1px solid $line_color_view;
        border-bottom: 1px solid $line_color_view;
        border-top: 1px solid $line_color_view;
      }
      > div:nth-child(1):hover {
      }
      > div:nth-child(1) {
        //background-color: blue;
        width: 7px;
        border-left: 1px solid $line_color_view;
        > div:nth-child(1) {
          border-bottom: 1px solid $line_color_view;
          height: 14px;
        }
        > div:nth-child(1):hover {
        }
        > div:nth-child(2) {
          height: 3px;
          //background-color: yellow;
        }
      }
      > div:nth-child(2) {
        width: 18px;
        > div:nth-child(1) {
          border-bottom: 1px solid $line_color_view;
          height: 9px;
        }
        > div:nth-child(2) {
          height: 9px;
          //background-color: yellow;
        }
      }
    }
  }
}
