<app-ph-box1 *ngIf="!isReady" [stripHeight]="phHeight" [backSize]="phBackSize" [duration]="phDuration"></app-ph-box1>

<div class="wrapper" *ngIf="isReady">
  <div id="heading"><span>Severity / Likelihood {{severity}}-{{likelihood}}</span></div>
  <div style="display:flex;">
    <div style="background:#28a745;">&nbsp;</div>
    <div class="hdr_cell" *ngFor="let lik of riskMatrixData.lik"
    [style.background]="lik.back" [style.color]="lik.fore"
    matTooltipPosition="above" [matTooltip]="lik.text + '['+ lik.code +']'">
        <p>{{lik.code}}</p>
      </div>
  </div>
  <div *ngFor="let sev of  riskMatrixData.sev">
    <div [style.background]="sev.back" [style.color]="sev.fore"
    matTooltipPosition="right" [matTooltip]="sev.text">
      <p>{{sev.code}}</p></div>
    <div class="det_cell" *ngFor="let lik of riskMatrixData.lik"
      (click)="CellClick(lik.key,sev.key)"
      [style.background]="riskMatrixData.mtx['M'+lik.key+sev.key].back"
      [style.color]="riskMatrixData.mtx['M'+lik.key+sev.key].fore"
      matTooltipPosition="above" [matTooltip]="'Severity: ' + sev.text + ', Likelihood: ' + lik.text">
      <p *ngIf="isWithData">
        <i *ngIf="(severity==sev.key && likelihood==lik.key)" class="fa fa-check"></i>
        <span  *ngIf="(severity!=sev.key || likelihood!=lik.key)" >&nbsp;</span>
      </p>
      <p  *ngIf="!isWithData">&nbsp;</p>
    </div>
  </div>
</div>
