<app-app-form-a  #detailForm [readOnly]="true" [sourceRow]="this.module.sourceRow" [formObject]="this.module.mainFormObject" [labelWidth]="90" [rowSpacing]="4">
  <app-panel-a [horizontal]="true">
    <app-panel-a [PR]="2">
      <app-app-input-a [fieldName]="'AN_RECCMD'" [label]="'Details'" [rows]="9"></app-app-input-a>
    </app-panel-a>
    <app-panel-a [PL]="2" [width]="300" [labelWidth]="100">
      <app-app-input-a [fieldName]="'AN_TA_APPROVED'" [label]="'TA Approved'"></app-app-input-a>
      <app-app-input-a [fieldName]="'AN_TA_NAME'" [label]="'TA Name'"></app-app-input-a>
      <app-app-input-a [fieldName]="'AN_TA_APPR_DATE'" [label]="'Ta Approved Date'"></app-app-input-a>

    </app-panel-a>
  </app-panel-a>

</app-app-form-a>
