@import "../../../appcssvars.scss";

h2{
  border-bottom:2px solid $bs_danger;
}

button {
  width: 90px;
  height: 36px;
  font-weight: 100;
}

.buttons {
  grid-template-columns: auto auto;
  display: grid;
  font-size: 14px;
  color: #fff;
  justify-content: center;
  margin: 10px;
  .save {
    background-color: #e37b00;
    margin-left: 2px;
  }
  .close {
    background-color: #747578;
    margin-right: 2px;
  }
}

::ng-deep.mat-dialog-container {
  resize: both;
  overflow: hidden;
  // background: #fff;
  // background: cyan;
  display: flex !important;
  flex-direction: column !important;
  //padding-left:0px !important;
  //padding-right:0px !important;
}

:host {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 1 0 !important;
  // background: red;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: $bs_warning;
  color:$fore_color_dark;
  cursor: move;
  // text-align: center;
}

mat-dialog-content {
  margin-left: -24px !important;
  margin-right: -24px !important;
  padding: 0px 0px;

  display: flex !important;
  flex-direction: column !important;
  flex:1 1 0 !important;

  overflow: hidden;

//   background: lime;
}
 mat-dialog-actions {
  margin-left: -24px !important;
  margin-right: -24px !important;

  margin-top:0px;

  // border-top:1px solid $fore_color_gray;
  // background:$back_color_gray;
  //   max-height:50px;
//   min-height:50px;
//   background-color: magenta;
//   // background: olive !important;
 }
