<h3 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
  class="noselect p-0 m-0"><i *ngIf="data.icon"
    [class]="'ml-2 ' + [icon] "></i><span class="ml-2">{{data.title ? data.title : 'No Title'}}</span>
</h3>

<mat-dialog-content class="mat-typography">

  <app-date-picker-a #subComponent [data]="data" *ngIf="data.component=='datePicker'"></app-date-picker-a>
  <app-asset-selector #subComponent *ngIf="data.component=='assetSelector'"></app-asset-selector>
  <app-anom-add-edit #subComponent [data]="data" *ngIf="data.component=='addEditAnomaly'"></app-anom-add-edit>
  <app-alert #subComponent [data]="data" *ngIf="data.component=='alert'"></app-alert>

  <app-reference-addedit #subComponent [data]="data" *ngIf="data.component=='addEditReffile'"></app-reference-addedit>
  <app-design-data-add-edit #subComponent [data]="data" *ngIf="data.component=='addEditDesigndata'"></app-design-data-add-edit>

</mat-dialog-content>

<mat-dialog-actions *ngIf="data.buttons" align="center" class="p-0" style="height:35px;">
  <!-- <button mat-button *ngFor="let btn of this.data.buttons" [mat-dialog-close]="{value:btn.value,response:data.response}"
    [class]="btn.class + ' m-0 p-0 ml-2'">{{btn.label}}</button> -->
  <button *ngFor="let btn of this.data.buttons"
    [class]="btn.class + ' m-0 ml-2'"
    (click)="this.clickAction(btn.value)">{{btn.label}}</button>
  <!-- <button mat-button class="btn btn-warning m-0 p-0 ml-2" (click)="this.acceptAndClose()">Save</button> -->
</mat-dialog-actions>
<div *ngIf="showMask" style="position:absolute;top:-24px;left:-24px;width:calc(100% + 48px);height:calc(100% + 48px);z-index:10;background:black;opacity:0.2;">&nbsp;</div>
